.Centerblock__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 51px;
  overflow: hidden;
}
.Filter__title {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-right: 15px;
}

.Filter__button {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #ffffff;
  border-radius: 60px;
  padding: 6px 20px;
}

.Filter__button:not(:last-child) {
  margin-right: 10px;
}

.dropdown-content {
  /* display: none; */
  box-sizing: border-box;
  position: absolute;
  min-width: 300px;
  border-bottom: 300px solid #383838;;
  margin-top: 350px;
  border-radius: 10px;
  margin-left: 94px;
  overflow: auto
}
.dropdown-content.active {
  transform: translateY(-350px);
}
.dropdown-content-year{
   box-sizing: border-box;
  position: absolute;
  min-width: 300px;
  border-bottom: 300px solid #383838;;
  margin-top: 350px;
  border-radius: 10px;
  margin-left: 94px;
}